<mat-tab-group>
  <mat-tab label="Owned Communities" *ngIf="isExpert()">
    <div class="community-list">
      <div *ngIf="paginatedOwnedCommunities.length === 0" class="no-elements">
        When you publish a course, it will appear here.
        <button mat-button class="link-button" (click)="redirectToExplore()">Check it out now.</button>
      </div>
      <app-community-card *ngFor="let community of paginatedOwnedCommunities" [community]="community"></app-community-card>
    </div>
    <mat-paginator [length]="ownedCommunities.length"
                   [pageSize]="9"
                   (page)="updatePaginatedOwnedCommunities($event)">
    </mat-paginator>
  </mat-tab>
  <mat-tab label="Joined Communities">
    <div class="community-list">
      <div *ngIf="paginatedPurchasedCommunities.length === 0" class="no-elements">
        When you join a community, it will appear here.
        <button mat-button class="link-button" (click)="redirectToExplore()">Check it out now.</button>
      </div>
      <app-community-card *ngFor="let community of paginatedPurchasedCommunities" [community]="community"></app-community-card>
    </div>
    <mat-paginator [length]="purchasedCommunities.length"
                   [pageSize]="9"
                   (page)="updatePaginatedPurchasedCommunities($event)">
    </mat-paginator>
  </mat-tab>
</mat-tab-group>
