.course-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 750px;
    margin-left: 50px;
    margin-right: 50px;
}

mat-tab-group{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1020px) {
  .course-list{
    flex-direction: column;
    display: block;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
}
