.course-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 94vh;
  justify-content: center;
  align-items: center;
}

.course-card-container {
  flex: 1 0 400px;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}


mat-paginator {
  width: 100%;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  color: #333333;
}
