<body>
<div class="new-password-wrapper">
  <h1 class="h1-login">Change password</h1>
  <div class="container">
    <form (ngSubmit)="onSubmitNewPassword($event)">
      <div>
        <label class="label-login" for="newPassword">New password</label>
        <input class="inputs-login" type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" placeholder="Ingrese una contraseña" required />
      </div>
      <div>
        <label class="label-login" for="confirmPassword">New password again</label>
        <input class="inputs-login" type="password" id="confirmPassword" [(ngModel)]="confirmNewPassword" name="confirmPassword" placeholder="Ingrésela de nuevo" required />
      </div>
      <div>
        <button type="submit" class="submit-button-login">Submit</button>
      </div>
    </form>
  </div>
</div>
</body>
