<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="courseTitle">
    <th mat-header-cell *matHeaderCellDef> Course Title </th>
    <td mat-cell *matCellDef="let element"> {{element.courseTitle}} </td>
  </ng-container>

  <ng-container matColumnDef="courseId">
    <th mat-header-cell *matHeaderCellDef> Course ID </th>
    <td mat-cell *matCellDef="let element"> {{element.courseId}} </td>
  </ng-container>

  <ng-container matColumnDef="buyer">
    <th mat-header-cell *matHeaderCellDef> Buyer ID</th>
    <td mat-cell *matCellDef="let element"> {{element.buyer}} </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

  <ng-container matColumnDef="serviceCost">
    <th mat-header-cell *matHeaderCellDef> Service Cost </th>
    <td mat-cell *matCellDef="let element"> {{element.serviceCost}} </td>
  </ng-container>

  <ng-container matColumnDef="cardNumberMasked">
    <th mat-header-cell *matHeaderCellDef> Card Number </th>
    <td mat-cell *matCellDef="let element"> {{element.cardNumberMasked}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
  </ng-container>

  <ng-container matColumnDef="netPayment">
    <th mat-header-cell *matHeaderCellDef> Net Payment </th>
    <td mat-cell *matCellDef="let element"> {{element.netPayment}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
