<div class="big-box">
 <!--course details-->
  <div class="Courses">
    <img>
    <h2>Payment</h2>
    <h3>Total: $30</h3>
    <div>
      <div class="imagen1"></div>
      <button>Detalle</button>
    </div>
    <div>
      <div class="imagen2"></div>
      <button>Detalle</button>
    </div>
  </div>
    <div class="form">
        <!--form to pay-->
        <form>
        <div>
            <h5>Email</h5>
            <input class="text-box" type="text">
        </div>
        <div>
            <h5>Owner</h5>
            <input class="text-box" type="text">
        </div>
        <div>
            <h5>Card information</h5>
            <input class="text-box" type="number">
            <input class="text-box" type="date">
            <input class="text-box" type="number">
        </div>
        <button class="Boton-pagar">Pagar</button>
        </form>
    </div>
</div>
