<body>
<div class="restore-password-wrapper">
  <h1 class="h1-restore-password">Reset password</h1>
  <div class="container">
    <form (ngSubmit)="onSubmitEmail($event)">
      <div>
        <label class="label-restore-password" for="email">E-mail</label>
        <input class="inputs-restore-password" type="email" id="email" [(ngModel)]="email" name="email" placeholder="Ingrese un correo" required />
      </div>
      <div>
        <button type="submit" class="submit-button-restore-password">Submit</button>
      </div>
    </form>
  </div>
</div>
</body>
