body {
  font-family: Arial, sans-serif;
  background-color: #e4e4ca;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.restore-password-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.h1-restore-password {
  color: black;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
  padding: 2rem;
  font-family: Inter, sans-serif;
}

.inputs-restore-password {
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  max-width: 360px;
  padding: 1rem;
  margin: 0.3rem 0;
  font-size: 1rem;
  box-sizing: border-box;
}

.submit-button-restore-password {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 1rem;
  width: 100%;
  max-width: 360px;
  border-radius: 10px;
}

.submit-button-restore-password:hover {
  background-color: #1F271B;
}

.label-restore-password {
  width: 100%;
  text-align: center;
  margin: 0.5rem 0;
  color: black;
}

@media (max-width: 768px) {
  .h1-restore-password {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .h1-restore-password {
    font-size: 1.2rem;
  }

  .inputs-restore-password, .submit-button-restore-password {
    padding: 0.8rem;
  }
}
