.course-detail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 1200px;
  padding: 20px;
  background-color: #f7f9fa;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.course-info {
  flex: 1 1 55%;
  margin-right: 20px;
}

.course-info h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.course-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.course-info p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.course-info strong {
  font-weight: bold;
}

.module-list {
  flex: 1 1 35%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.module-list h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}

.module-list ul {
  list-style: none;
  padding: 0;
}

.module-list ul li {
  margin-bottom: 10px;
}

.module-list ul li a {
  text-decoration: none;
  color: #0073b1;
  font-size: 1rem;
}

.module-list ul li a:hover {
  text-decoration: underline;
  color: #005b8e;
}


@media (max-width: 1200px) {
  .course-detail-container {
    flex-direction: column;
  }

  .course-info, .module-list {
    margin: 0;
    flex: 1 1 100%;
  }

  .module-list {
    margin-top: 20px;
  }
}
