.course-card{
  margin: 10px;
  width: 320px;
  height: 270px;
}

.course-image{
  width: 100%;
  height: 130px;
}

mat-card-title{
  font-size: 0.9rem;
  font-weight: bold;
}

mat-card-subtitle{
  font-size: 0.6rem;
  color: #666;
}

mat-card-content{
  height: 488px;
  font-size: 0.8rem;
  color: #666;
}

mat-card-actions{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1020px) {
  .course-card {
    width: 400px;
    margin: 10px auto;
  }
}
