.course-card {
  width: 400px;
  height: 315px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  flex: 1 1 calc(25% - 40px);
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.mat-headline-small {
  font-size: 0.9em;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 1.5em;
  margin-left: 15px;
}
.mat-headline-small-description {
  font-size: 0.9em;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 1.7em;
}


.course-image {
  width: auto;
  height: 200px;
  object-fit: cover;
}

.mat-card-title {
  font-weight: bold;
}

.details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating-container {
  position: absolute;
  top: 5px;
  right: 10px;
  display: flex;
  align-items: center;
}


.rating {
  color: #ffffff;
}

.price {
  font-weight: bold;
  color: #496c57;
}

.description {
  margin-bottom: 15px;
}

.actions {
  display: flex;
  justify-content: space-between;
}
.course-card {
  background-color: #f5f5f5;
}

.module-count {
  font-size: 0.8em;
  color: #888;
  margin-left: 5px;
}
