<mat-toolbar>
  <div class="logo">

  </div>
  <div class="navbar-links">
    <a mat-button class="action-button" routerLink="/home">Inicio</a>
    <a mat-button class="action-button" routerLink="/courses">Servicios</a>
    <a mat-button class="action-button" routerLink="/categories">Veterinarias</a>
    <a mat-button class="action-button" routerLink="/products">Productos</a>
    <a mat-button class="action-button" routerLink="/booking">Reservas</a>
    <a mat-button class="action-button" routerLink="/appointment">Citas</a>
    <a mat-button class="action-button" routerLink="/contact-us">Contáctanos</a>
  </div>
  <span class="example-spacer"></span>
  <div class="navbar-icons">
    <button mat-icon-button class="shopping-cart-icon" aria-label="Example icon-button with shopping cart icon" routerLink="/products">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="settings-icon" aria-label="Example icon-button with settings cart icon">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="account-circle" aria-label="Example icon-button with account circle icon" routerLink="/profile">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
  <button mat-icon-button class="menu-icon" aria-label="Example icon-button with menu icon" (click)="toggleNavbar()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<div class="responsive-navbar" [class.open]="navbarOpen">
  <a mat-button class="action-button" routerLink="/home">Inicio</a>
  <a mat-button class="action-button" routerLink="/services">Servicios</a>
  <a mat-button class="action-button" routerLink="/veterinary">Veterinarias</a>
  <a mat-button class="action-button" routerLink="/products">Productos</a>
  <a mat-button class="action-button" routerLink="/booking">Reservas</a>
  <a mat-button class="action-button" routerLink="/appointment">Citas</a>
  <a mat-button class="action-button" routerLink="/contact-us">Contáctanos</a>
</div>

